html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	color: $white;
	background-color: $white;
}

button {
	border: none;
}

.container-big {
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
}
.container {
	max-width: 1250px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
}

.container-small {
	max-width: 830px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
}
