@font-face {
	font-display: swap;
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/ubuntu-v21-latin-regular.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/ubuntu-v21-latin-700.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Lato";
	font-style: normal;
	font-weight: 900;
	src: url("../fonts/lato-v25-latin-900.woff2") format("woff2");
}
