$white: #fff;

$primary: #ff5a30;
$primary-hover: #fc3300;

$gray-200: #f4f5f6;
$gray-200-translucent: #f4f5f680;
$gray-200-10: rgba(244, 245, 246, 0.1);
$gray-200-90: rgba(244, 245, 246, 0.9);
$gray-300: #e5e8ed;
$gray-400: #d7dadd;
$gray-500: #b3b7bc;
$gray-600: #9a9ca5;
$gray-700: #787a80;
$gray-800: #424551;
$gray-900: #1e212c;
$gray-900-60: rgba(30, 33, 44, 0.6);

$box-shadow-start: 0 4px 4px -4px rgba(30, 33, 44, 0.03);
$box-shadow-end: 0 12px 10px -6px rgba(154, 156, 165, 0.04);
$box-shadow-third: 0 30px 24px -10px rgba(154, 156, 165, 0.05);
$box-shadow-fourth: 0 80px 80px -20px rgba(154, 156, 165, 0.08);
$box-shadow-start-2: 0 4px 4px -4px #1e212c0d;
$box-shadow-end-2: 0 12px 10px -6px #1e212c14;
$box-shadow-focus: 0 12px 10px -6px #ff5a300a;
$box-primary-8: 0 12px 10px -6px #ff5a3014;
$box-primary-10: 0 26px 24px -10px #ff5a301a;
$box-primary-16: 0 60px 60px -20px #ff5a301a;
$box-shadow-10: 0 26px 24px -10px #1e212c1a;
$box-shadow-16: 0 60px 60px -20px #1e212c29;

$line-gradient: rgb(218, 219, 221, 0), rgb(218, 219, 221, 0.2), rgb(218, 219, 221, 0.4), rgb(218, 219, 221, 0.2),
	rgb(218, 219, 221, 0);
