.contacts {
	text-align: center;
	padding-top: 80px;
	padding-bottom: 116px;
	background-color: $gray-200;
}

.follow {
	width: 272px;
	margin: 118px auto 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px 0;
}
