.ceo-quotation {
	position: relative;
	min-height: 820px;
	padding-bottom: 120px;
	overflow-y: hidden;
	@media (max-width: 550px) {
		padding-bottom: 60px;
	}
}

.ceo-quotation__bg {
	position: absolute;
	top: 55px;
	right: 0;
	z-index: -1;
}

.ceo-quotation__inner {
	position: relative;
	@media (max-width: 1140px) {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		gap: 40px 0;
	}
}

.ceo-quotation__img {
	position: absolute;
	top: 119px;
	left: 10px;
	@media (max-width: 1140px) {
		position: static;
	}
	@media (max-width: 550px) {
		width: 90%;
	}
}

.ceo-quotation__content {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 30px;
	position: absolute;
	top: 0;
	right: 10px;
	max-width: 735px;
	min-height: 570px;
	padding: 80px 105px 80px 77px;
	border-radius: 4px;
	box-shadow: $box-shadow-start, $box-shadow-end, $box-shadow-third, $box-shadow-fourth;
	background-color: $white;
	@media (max-width: 1140px) {
		position: static;
	}
	@media (max-width: 550px) {
		min-height: 440px;
		padding: 20px;
	}
	.ceo-quotation__icon {
		width: 28px;
		height: 20px;
		fill: $primary;
		@media (max-width: 550px) {
			width: 14px;
			height: 10px;
		}
	}
	.ceo-quotation__text {
		@extend %tmpUbuntu-700;
		font-size: 20px;
		line-height: 150%;
		color: $gray-900;
		margin-bottom: 51px;
		@media (max-width: 550px) {
			font-size: 14px;
		}
	}
}

.ceo-quotation__content-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media (max-width: 550px) {
		flex-direction: column;
		gap: 20px 0;
	}
	.ceo-quotation__content-name {
		@extend %tmpUbuntu-700-regular;
		color: $gray-900;
		margin-bottom: 4px;
	}
	.ceo-quotation__content-position {
		@extend %tmpUbuntu-400-small;
		color: $gray-700;
	}
}
