<div class="clients__icons-block">
	<img class="clients__icon" src="./img/icons/clients-icons/client-logo-1.svg" alt="icon 1" />
	<img class="clients__icon" src="./img/icons/clients-icons/client-logo-2.svg" alt="icon 2" />
	<img class="clients__icon" src="./img/icons/clients-icons/client-logo-3.svg" alt="icon 3" />
	<img class="clients__icon" src="./img/icons/clients-icons/client-logo-4.svg" alt="icon 4" />
	<img class="clients__icon" src="./img/icons/clients-icons/client-logo-5.svg" alt="icon 5" />
	<img class="clients__icon" src="./img/icons/clients-icons/client-logo-6.svg" alt="icon 6" />
</div>
