<article class="construction @@classConstruction">
	<img class="construction__img" src="@@path" alt="construction image" />
	<div class="construction__content">
		<!-- title h2 -->
		<!-- prettier-ignore -->
		@@include("../elements/_title.html", {
      "title": "@@title",
			"classNameTitle": "@@classTitle"
    })
		<!-- subtext -->
		<!-- prettier-ignore -->
		@@include("../elements/_subtext.html", {
      "subtext": "@@subtext",
			"classNameSubtext": "@@classSubtext"
    })
		<!-- button -->
		<!-- prettier-ignore -->
		@@include("../elements/_button.html", {
      "title": "Learn more",
			"className": "button--regular button--basic-reverse"
    })
	</div>
</article>
