.meta-socials {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 48px;
	@media (max-width: 768px) {
		flex-direction: column;
		gap: 30px 0;
	}
}

.single-post-img {
	position: absolute;
	bottom: -420px;
	border-radius: 4px;
	@media (max-width: 1250px) {
		width: 98%;
		height: 500px;
		object-fit: cover;
	}
	@media (max-width: 953px) {
		display: none;
	}
}
