// news

.news {
	text-align: center;
}

.news-cards-block {
	text-align: start;
	margin-top: 59px;
	margin-bottom: 80px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;
	article:nth-child(1) {
		grid-column: 1;
		grid-row: 1 / 3;
	}
}

@media (max-width: 1280px) {
	.news-cards-block {
		justify-items: center;
		article:nth-child(1) {
			grid-column: 1/3;
			grid-row: 1;
		}
	}
}

@media (max-width: 1050px) {
	.news-cards-block {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
	}
}
