<article class="comment">
	<div class="comment__left-side">
		<p class="comment__username">@@name</p>
		<p class="comment__date">@@date</p>
	</div>
	<div class="comment__right-side">
		<p class="comment__text"><span class="comment__current-user">@@currentUser</span> @@text</p>
		<div class="comment__reply-block">
			<svg class="comment__icon">
				<use xlink:href="../../img/sprites/locations.svg#share-arrow"></use>
			</svg>
			<span class="comment__reply-block">Reply</span>
		</div>
	</div>
</article>
