<div class="select">
	<label class="select__label">@@label</label>
	<div class="select__wrapper">
		<button type="button" class="select__control">
			<span class="select__value">@@value</span>
			<svg class="select__chevron">
				<use xlink:href="./img/sprites/mark.svg#chevron-down"></use>
			</svg>
		</button>
		<div class="select__dropdown" id="@@dropdownList">
			<button type="button" class="select__option value-1">
				<span class="select__value">@@option-1</span>
			</button>
			<button type="button" class="select__option value-2">
				<span class="select__value">@@option-2</span>
			</button>
			<button type="button" class="select__option value-3">
				<span class="select__value">@@option-3</span>
			</button>
		</div>
	</div>
</div>
