<article class="post-card @@classCard">
	<img class="post-card__img" src="../../img/pictures/news/@@path" alt="postcard img" />
	<div class="post-card__content">
		<h4 class="post-card__heading @@classTitle">@@title</h4>
		<div class="post-card__meta-block">
			<span class="post-card__category">@@category</span>
			<span class="post-card__divider"></span>
			<span class="post-card__date">@@date</span>
			<span class="post-card__divider"></span>
			<svg class="post-card__icon">
				<use xlink:href="../../img/sprites/locations.svg#chat"></use>
			</svg>
			<span class="post-card__comments">@@comments</span>
		</div>
		<p class="post-card__text @@classText">@@text</p>
	</div>
</article>

<!-- post-card__meta-block - make it separately component -->
