<ul class="social-list @@classList">
	<li class="social-item">
		<svg class="social-icon @@classIcon">
			<use xlink:href="../../img/sprites/socials.svg#whatsapp"></use>
		</svg>
	</li>
	<li class="social-item">
		<svg class="social-icon @@classIcon">
			<use xlink:href="../../img/sprites/socials.svg#msessanger"></use>
		</svg>
	</li>
	<li class="social-item">
		<svg class="social-icon @@classIcon">
			<use xlink:href="../../img/sprites/socials.svg#facebook"></use>
		</svg>
	</li>
	<li class="social-item">
		<svg class="social-icon @@classIcon">
			<use xlink:href="../../img/sprites/socials.svg#twitter"></use>
		</svg>
	</li>
	<li class="social-item">
		<svg class="social-icon @@classIcon">
			<use xlink:href="../../img/sprites/socials.svg#youtube"></use>
		</svg>
	</li>
</ul>
