<ul class="social-list @@classList">
	<li class="social-item">
		<a class="social-link" href="#!">
			<svg class="social-icon @@classIcon">
				<use xlink:href="./img/sprites/socials.svg#whatsapp"></use>
			</svg>
		</a>
	</li>
	<li class="social-item">
		<a class="social-link" href="#!">
			<svg class="social-icon @@classIcon">
				<use xlink:href="./img/sprites/socials.svg#msessanger"></use>
			</svg>
		</a>
	</li>
	<li class="social-item">
		<a class="social-link" href="#!">
			<svg class="social-icon @@classIcon">
				<use xlink:href="./img/sprites/socials.svg#facebook"></use>
			</svg>
		</a>
	</li>
	<li class="social-item">
		<a class="social-link" href="#!">
			<svg class="social-icon @@classIcon">
				<use xlink:href="./img/sprites/socials.svg#twitter"></use>
			</svg>
		</a>
	</li>
	<li class="social-item">
		<a class="social-link" href="#!">
			<svg class="social-icon @@classIcon">
				<use xlink:href="./img/sprites/socials.svg#youtube"></use>
			</svg>
		</a>
	</li>
</ul>
