<tr class="table__row @@classRow">
	<td class="table__row-title">@@row-title</td>
	<td class="table__row-data">
		@@first-col
		<svg class="@@classSVG1">
			<use xlink:href="./img/sprites/mark.svg#table-mark"></use>
		</svg>
	</td>
	<td class="table__row-data">
		@@second-col
		<svg class="@@classSVG2">
			<use xlink:href="./img/sprites/mark.svg#table-mark"></use>
		</svg>
	</td>
	<td class="table__row-data">
		@@third-col
		<svg class="@@classSVG3">
			<use xlink:href="./img/sprites/mark.svg#table-mark"></use>
		</svg>
	</td>
</tr>
