<div class="team-card">
	<div class="team-card__img-block">
		<img class="team-card__img" src="@@imgPath" alt="team card image" />
		<div class="team-card__hover">
			<svg class="team-card__icon">
				<use xlink:href="../../img/sprites/socials.svg#linked-in-team"></use>
			</svg>
			<svg class="team-card__icon">
				<use xlink:href="../../img/sprites/socials.svg#twitter-team"></use>
			</svg>
			<svg class="team-card__icon">
				<use xlink:href="../../img/sprites/socials.svg#facebook-team"></use>
			</svg>
		</div>
	</div>
	<h3 class="team-card__name">@@name</h3>
	<p class="team-card__position">@@position</p>
</div>
