.checkbox-block {
	display: grid;
	grid-template-columns: 20px 1fr;
	align-items: start;
	gap: 0 8px;
	cursor: pointer;
	input {
		display: none;
	}
	.checkbox__text {
		@extend %tmpUbuntu-400;
		color: $gray-800;
		&--base {
			font-size: 16px;
			line-height: 160%;
		}
		&--small {
			font-size: 14px;
			line-height: 150%;
		}
	}
	.checkbox__icon {
		width: 16px;
		height: 16px;

		--checkbox-bg: #fff;
		--checkbox-bg-stroke: #b3b7bc;
	}

	input:checked + .checkbox__icon {
		--checkbox-bg: #ff5a30;
		--checkbox-bg-stroke: #ff5a30;
	}
}
