.checkbox-block {
	display: flex;
	align-items: start;
	gap: 0 12px;
	input {
		display: none;
	}
	.checkbox__text {
		@extend %tmpUbuntu-400;
		font-size: 16px;
		line-height: 160%;
		color: $gray-800;
	}
	.checkbox__icon {
		width: 28px;
		height: 28px;
		fill: $white;
		stroke: $gray-500;
	}
	input:checked + .checkbox__icon {
		fill: $white;
		stroke: $primary;
	}
}
