.nav-buttons-block {
	display: flex;
}

.nav-button {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	&--left {
		&:hover path {
			fill: $white;
		}
		&:hover {
			background-color: $primary;
		}
		&:active {
			background-color: $primary-hover;
		}
		&:disabled path {
			fill: $white;
		}
	}
	&--right {
		&:hover path {
			fill: $white;
		}
		&:hover {
			background-color: $primary;
		}
		&:active {
			background-color: $primary-hover;
		}
		&:disabled path {
			fill: $white;
		}
	}
	&--transperant {
		&:disabled path {
			fill: $gray-200;
		}
	}
	&:disabled {
		pointer-events: none;
	}
}

@media (max-width: 820px) {
	.nav-buttons-block {
		display: none;
	}
}
