.nav-buttons-block {
	display: flex;
	@media (max-width: 820px) {
		display: none;
	}
}

.nav-button {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	.nav-button-icon {
		width: 24px;
		height: 24px;
		fill: $gray-800;
	}
	&:hover {
		background-color: $primary;
		.nav-button-icon {
			fill: $white;
		}
	}
	&:active {
		background-color: $primary-hover;
	}
	&:disabled {
		background-color: $gray-400;
		pointer-events: none;
		.nav-button-icon {
			fill: $gray-600;
		}
	}
}
