.service-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 285px;
	height: 285px;
	border-radius: 4px;
	color: $gray-900;
	background-color: $white;
	border: 1px solid $gray-300;
	box-shadow: $box-shadow-start, $box-shadow-end, $box-shadow-third, $box-shadow-fourth;
	.service-item__icon {
		width: 52px;
		height: 52px;
		fill: $primary;
		margin-bottom: 21px;
	}
	.service-item__title {
		@extend %tmpUbuntu-700;
		font-size: 20px;
		line-height: 150%;
	}
	&:hover {
		color: $white;
		background: linear-gradient($gray-900-60, $gray-900-60), url("../img/pictures/backgrounds/service-hover-bg.jpg");
		border: 1px solid $gray-900;
		box-shadow: $box-shadow-start-2, $box-shadow-end-2, $box-shadow-10, $box-shadow-16;
		.service-item__icon {
			fill: $white;
		}
	}
}
