.testimonials-slide {
	.testimonials-slide__avatar {
		width: 72px;
		height: 72px;
		margin-bottom: 22px;
	}
	.testimonials-slide__text {
		@extend %tmpUbuntu-400;
		font-size: 16px;
		line-height: 160%;
		color: $gray-800;
		margin-bottom: 24px;
	}

	.testimonials-slide__name {
		@extend %tmpUbuntu-700;
		font-size: 16px;
		line-height: 160%;
		color: $gray-900;
		margin-bottom: 4px;
	}

	.testimonials-slide__position {
		@extend %tmpUbuntu-400;
		font-size: 14px;
		line-height: 150%;
		color: $gray-700;
	}
}
