.header {
	position: sticky;
	top: 0;
	&--bg-white {
		background-color: $white;
	}
	&--bg-gray {
		background-color: $gray-200;
	}
	&--translucent-gray {
		background-color: $gray-200-translucent;
	}
	z-index: 100;
}

.header-inner {
	display: flex;
	align-items: center;
	padding-top: 22px;
	padding-bottom: 22px;
	position: relative;
	z-index: 100;
	@media (max-width: 1078px) {
		flex-wrap: wrap;
		gap: 22px 0;
	}
}

.logo {
	margin-right: 60px;
}

.menu {
	display: flex;
	gap: 0 41px;
	@media (max-width: 1078px) {
		order: 1;
		margin: 0 auto;
	}
	@media (max-width: 650px) {
		width: 90vw;
		height: 100vh;
		flex-direction: column;
		align-items: center;
		gap: 40px 0;
		padding-top: 10vh;
		padding-bottom: 20vh;
		background-color: $gray-200;
		position: absolute;
		top: 83px;
		left: -55%;
		transform: translate(-50%, 0);
		transition: left 0.4s ease-in-out;
		z-index: 100;
	}
	.menu__link {
		@extend %tmpUbuntu-700-regular;
		color: $gray-800;
		&:hover {
			color: $gray-700;
		}
		&.active-link {
			color: $primary;
		}
	}
}

.call {
	display: flex;
	gap: 0 36px;
	margin-left: auto;
	margin-right: 0;
	@media (max-width: 650px) {
		gap: 0;
	}
	.call__block {
		display: flex;
		align-items: center;
		.call__icon {
			margin-right: 12px;
			@media (max-width: 650px) {
				margin-right: 24px;
			}
		}
		.call__title {
			@extend %tmpUbuntu-700-small;
			color: $gray-800;
			@media (max-width: 650px) {
				display: none;
			}
		}
		.call__text {
			@extend %tmpUbuntu-400-large;
			color: $gray-900;
			@media (max-width: 650px) {
				display: none;
			}
		}
	}
}

.burger-menu {
	display: none;
	@media (max-width: 650px) {
		display: inline-block;
	}
}

@media (max-width: 650px) {
	.menu.active {
		left: 50vw;
	}
}
